/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "segoe UI",sans-serif,Arial;
}

/* PAGE BACKGROUND */
body {
	background: #f4f6f8;
	padding: 40px;
}

/* MAIN CONTAINER */
.container {
	background: silver;
	width: 70%;
	margin: auto;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* ADD BUTTON */
.add-btn{
	display: inline-block;
	margin-bottom: 15px;
	padding: 8px 14px;
	background-color: #4caf50;
	color: white;
	text-decoration: blink;
	border-radius: 6px;
	font-size: 14px;
}

.add-btn-bottom{
	margin-top: 30px;
	text-align: center;
}

.add-btn:hover{
	background-color: #43a047;
}

/* TABLE STYLING */
table{
	width: 70%;
	border-collapse: collapse;
}

th{
	background-color:maroon;
	color: white;
    padding: 10px;
}

td{
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #ddd;
    border-width: medium;
}

tr:hover {
	background-color: #f1f1f1;
}

.center-table{
	margin: 20px auto;
	width: 70%;
	border-collapse: collapse;
}

/* DELETE BUTTON */
.delete-btn {
	color: #d32f2f;
	text-decoration: none;
	font-weight: bold;
}

.delete-btn:hover{
	text-decoration: underline ;
}

/* EDIT BUTTON*/
.edit-btn {
	color:blue;
}

/* FORM STYLING */
form {
	width: 50%;
	margin: auto;
	background-color: gray;
}

label {
	font-weight: 400;
	margin-top: 30px;
	display: inline-block;
	text-align: left;
}

input {
	width: 50%;
    padding: 8px;
	margin-top: 6px;
	margin-bottom: 12px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

/* SAVE BUTTON */
button {
	background-color:#1565c0;
	color: white;
	border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
	background-color: #008040;
}

/* BACK LINK */
.back-link {
	display: block;
	margin-top: 15px;
	text-align: center;
}

/* CONTAINER */
.container{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-style: oblique;
	color: #004000;
}